<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="RexpLogParserMdi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <section name="DefaultRegexList" type="XService.Configuration.IniParameters, XService.Net2" />
  </configSections>
  
  <appSettings>
    <add key="RegularExpression.0" value="0x(\d+);\s*0x(\d+);"/>
    <add key="RegularExpression" value="(\d{2}\:\d{2}:\d{2}.\d{3})\s\[[\w\d]+\]\s---\sHeapMem\sis\sOk\s=\s(\d+)\s*.*\*\sHeapMem\:\sTotalSz=([\d\s]+)\;\sAlloc=([\d\s]+)\;\sUnused/free=([\d\s]+)\;\sOverhead=([\d\s]+)\;\s*.*\s*\s*.*\s*.*\*\sGlobalMem\:\sUsage=([\d\s\%]+)\;\sPhysicalFree=([\d\s]+)\skb\;\sPagingFree=([\d\s]+)\skb\;\sVirtualFree=([\d\s]+)\skb\;"/>
    <add key="OutputPattern" value="\1\2\3\4\5"/>
  </appSettings>

  <DefaultRegexList caseSensitive="true">
    MemoryStatistic_SF = \1;\2;\3;\4;\5 &#9; (\d{2}\:\d{2}:\d{2}.\d{3})\s\[[\w\d]+\]\s---\sHeapMem\sis\sOk\s=\s(\d+)\s*.*\*\sHeapMem\:\sTotalSz=([\d\s]+)\;\sAlloc=([\d\s]+)\;\sUnused/free=([\d\s]+)\;\sOverhead=([\d\s]+)\;\s*.*\s*\s*.*\s*.*\*\sGlobalMem\:\sUsage=([\d\s\%]+)\;\sPhysicalFree=([\d\s]+)\skb\;\sPagingFree=([\d\s]+)\skb\;\sVirtualFree=([\d\s]+)\skb\;
  </DefaultRegexList>
  
  <userSettings>
    <RexpLogParserMdi.Properties.Settings>
      <setting name="panRexp_Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="panLog_Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormMain_Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormMain_Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormMain_Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="FormMain_Height" serializeAs="String">
        <value>0</value>
      </setting>
    </RexpLogParserMdi.Properties.Settings>
  </userSettings>
  
</configuration>