<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="UsefulLinks" type="XService.Configuration.IniParameters, XService.Net2"/>
        <section name="ConnectionStrings" type="XService.Configuration.IniParameters, XService.Net2"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="AdoNetQuery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    
    <userSettings>
        <AdoNetQuery.Properties.Settings>
            <setting name="QueryText" serializeAs="String">
                <value/>
            </setting>
            <setting name="ParametersText" serializeAs="String">
                <value/>
            </setting>
            <setting name="MainFormView" serializeAs="String">
                <value/>
            </setting>
        </AdoNetQuery.Properties.Settings>
    </userSettings>
    
    <appSettings>
        <add key="MaxLoggerItems" value="500"/>
        
        <add key="QueryText" value="
            -- this is comment line
            SELECT * FROM USR
            "/>
        
        <add key="ParametersText" value="
            AdoNetProviderName = System.Data.OleDb
            ConnectionString = Provider=IBMDADB2.1; Location=$(DbServer):50000; Data Source=$(DbName); User ID=$(DbUser); Password=$(DbPassword);

            DbName = T2012
            DbUser = alta
            DbPassword = Forget1
            DbServer = btoDevVmW2k8
            "/>
    </appSettings>
    
    <system.diagnostics>
        <switches>
          <add name="TraceLevel" value="4"/>
          <add name="DacService" value="3"/>
          <add name="XService" value="2"/>
          <add name="XService.UI" value="3"/>
          <add name="XmlRegistry" value="2"/>
        </switches>
        <trace autoflush="true">
            <listeners>
                <add name="defaultLogger" type="System.Diagnostics.AdvancedTraceListener, XService.Net2" 
                     initializeData="%TEMP%\$$(AppName)_.log;LinePrefix=${TID};TimeRouteFilenamePattern=yyyyMMdd;CleanupOlderThan=7days"/>
                <add name="uiLogger" type="System.Diagnostics.CallbackTraceListener, XService.Net2"/>
            </listeners>
        </trace>
    </system.diagnostics>

    <ConnectionStrings caseSensitive="true">
        MS SQL (SqlConnection) = System.Data.SqlClient ~ Server=$(DbServer); Database=$(DbName); User Id=$(DbUser); Password=$(DbPassword);
        MS SQL (OleDb) = System.Data.OleDb ~ Provider=SQLNCLI; Server=$(DbServer); Database=$(DbName); Uid=$(DbUser); Pwd=$(DbPassword);
        IBM DB2 (.NET Provider) = IBM.Data.Db2 ~ Server=$(DbServer):50000; Database=$(DbName); UID=$(DbUser); PWD=$(DbPassword);
        IBM DB2 (OleDB) = System.Data.OleDb ~ Provider=IBMDADB2.1; Location=$(DbServer):50000; Data Source=$(DbName); User ID=$(DbUser); Password=$(DbPassword);
    </ConnectionStrings>

    <UsefulLinks caseSensitive="true">
        ADO.NET = http://en.wikipedia.org/wiki/ADO.NET
        Comparison of ADO and ADO.NET = http://en.wikipedia.org/wiki/Comparison_of_ADO_and_ADO.NET
        Connection Strings = http://ConnectionStrings.com
    </UsefulLinks>
    
    <!-- startup><supportedRuntime version="v2.0.50727"/></startup -->
    
</configuration>
