<?xml version="1.0"?>
<configuration>

    <configSections>
        <section name="UsefulLinks" type="XService.Configuration.IniParameters, XService.Net2"/>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WmiQuery.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    
    <appSettings>
        <add key="MaxLoggerItems" value="300"/>
        <add key="QueryText" value="
             -- this is comment line
             SELECT * FROM Win32_Process 
              WHERE (name = 'lsass.exe' OR name='far.exe' OR name='devenv.exe')"/>
        <add key="ParametersText" value="
             //scope.name = \\$(computer)\root\cimv2
             //scope.username = alta
             //scope.password = Forget1
             //scope.authentication = Unchanged|Default|None|Connect|Call|Packet|PacketIntegrity|PacketPrivacy
             //scope.authority = NTLMDOMAIN:$(Domain) | Kerberos:$(PrincipalName)
             //scope.impersonation = Default|Anonymous|Identify|Impersonate|Delegate
             //scope.timeoutsec = $(Seconds)&#xA;         &#xA;         //Computer=&#xA;         //Domain=&#xA;         //PrincipalName=&#xA;         //Seconds=30&#xA;         "/>
    </appSettings>
    
    <system.diagnostics>
        <switches>
            <add name="TraceLevel" value="4"/>
        </switches>
        <trace autoflush="true">
            <listeners>
                <add name="defaultLogger" type="System.Diagnostics.AdvancedTraceListener, XService.Net2" initializeData="$WmiQuery.log;LinePrefix=${TID}"/>
                <add name="uiLogger" type="System.Diagnostics.CallbackTraceListener, XService.Net2"/>
            </listeners>
        </trace>
    </system.diagnostics>
    
    <userSettings>
        <WmiQuery.Properties.Settings>
            <setting name="QueryText" serializeAs="String">
                <value />
            </setting>
            <setting name="ParametersText" serializeAs="String">
                <value />
            </setting>
            <setting name="MainFormView" serializeAs="String">
                <value />
            </setting>
        </WmiQuery.Properties.Settings>
    </userSettings>
    
    <UsefulLinks caseSensitive="true">
        Windows Management Instrumentation = http://en.wikipedia.org/wiki/Windows_Management_Instrumentation
        WMIC Alias/WMI Class Mapping = http://www.1e.com/blogs/2009/09/23/wmic-aliaswmi-class-mapping/
        Querying with WQL = http://msdn.microsoft.com/en-us/library/windows/desktop/aa392902%28v=vs.85%29.aspx
        WMI: Background and Overview = http://msdn.microsoft.com/en-us/library/ms811553.aspx
        WMI Query Language by Example = http://www.codeproject.com/Articles/46390/WMI-Query-Language-by-Example
    </UsefulLinks>
    
    <startup/>
    
</configuration>
